<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Filton Hotel main page</title>

    <!--CSS-->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!--GOOGLE FONT-->
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Poiret+One" rel="stylesheet">

</head>
<body>
	<div class="container">
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Make a reservation</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="/message">Leave a message for the Guest Book</a></li>
				<li><a href="/guestbook">Guest Book</a></li>
				<li><a href="/deletedComments">Comments, deleted from the Guest book</a></li>
			</ul>
		</nav>
		{%block content%}
		{%endblock content%}
		<footer>© 2017 The Filton Hotel Inc.</footer>
	</div>
</body>
</html>